#about {
	display: flex;
	flex-direction: column;
}

about {
	width: 650px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	font-size: 30px;
	padding-bottom: 50px;
}

about > .about-me {
	width: 76%;
	color: #eb6f92;
}

about > .about-me > span {
	color: #ebbcba;
}

about > .vertical-line {
	width: 100%;
	flex-shrink: 2;
}

about > .vertical-line > hr {
	color: #ebbcba;
	opacity: 0.2;
}

description {
	display: flex;
	flex-direction: row;
	font-size: 18px;
}

description > .text {
	width: 650px;
	padding-right: 30px;
}

description > .text > p {
	padding-bottom: 20px;
	text-align: justify;
	text-indent: 40px;
	line-height: 24px;
}

description > .text > p > span,
description > .text > p > a {
	color: #eb6f92;
}

description > .text > p > .full-name {
	font-weight: bold;
	color: #ebbcba;
}

description > .text > p > a {
	-webkit-transition: box-shadow 0.3s;
	-moz-transition: box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
	padding: 0px 2px 0px 2px;
}

description > .text > p > a:hover {
	-webkit-box-shadow: 0px 0px 11px #ebbcba;
	-moz-box-shadow: 0px 0px 11px #ebbcba;
	box-shadow: 0px 0px 11px #ebbcba;
	border-radius: 4px;
	-webkit-transition: box-shadow 0.3s;
	-moz-transition: box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
	font-weight: bold;
}
