#experiences {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 400px;
}

.accordion {
	width: 650px;
	height: 500px;
	display: flex;
	flex-direction: row;
}

.accordion-menu {
	display: flex;
	flex-direction: column;
	font-size: 19px;
	color: #ebbcba;
	font-weight: bold;
}

.accordion-title {
	width: 160px;
	height: 150px;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	background-color: #363c59;
	padding-left: 20px;
	border-left: 6px solid rgba(235, 111, 146, 0.2);
}

.accordion-title:first-child {
	border-radius: 0px 4px 0px 0px;
}

.accordion-title:last-child {
	border-radius: 0px 0px 4px 0px;
}

.accordion-title:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s ease-in-out;
}

.active-title {
	border-left: 6px solid rgba(235, 111, 146, 1);
	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	-o-transition: border 0.3s;
	transition: border 0.3s ease-in-out;
}

.accordion-content {
	font-size: 18px;
	padding-left: 30px;
	text-align: justify;
}

.non-active {
	visibility: hidden;
	opacity: 0;
	height: 0px;
}

.active-content {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 1s ease-in-out;
}

.content-job {
	font-weight: bold;
	font-size: 20px;
}

.content-date,
.content-city {
	padding-top: 10px;
	color: #eb6f92;
}

.content-date {
	font-style: italic;
}

.content-city {
	font-weight: bold;
}

.accordion-content > .active-content > .content-job > a {
	-webkit-transition: box-shadow 0.3s;
	-moz-transition: box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
	padding: 0px 2px 0px 2px;
	color: #eb6f92;
}

.accordion-content > .active-content > .content-job > a:hover {
	-webkit-box-shadow: 0px 0px 11px #ebbcba;
	-moz-box-shadow: 0px 0px 11px #ebbcba;
	box-shadow: 0px 0px 11px #ebbcba;
	border-radius: 4px;
	-webkit-transition: box-shadow 0.3s;
	-moz-transition: box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
	font-weight: bold;
}

.accordion-content > .active-content > ul {
	list-style-type: none;
	padding-top: 30px;
}

.accordion-content > .active-content > ul > li {
	padding-bottom: 10px;
}

.accordion-content > .active-content > ul > li:before {
	content: '▹';
	font-size: 26px;
	padding-right: 10px;
}

/* For small smartphones. */
@media only screen and (max-width: 400px) {
	#experiences {
		width: 100%;
		margin-top: 100px;
	}

	.accordion {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
	}

	.accordion-menu {
		display: flex;
		flex-direction: row;
		font-size: 16px;
		color: #ebbcba;
		font-weight: bold;
		margin-bottom: 20px;
	}

	.accordion-title {
		width: 100%;
		height: 100px;
		justify-content: center;
		padding-left: 0;
		border-top: 6px solid rgba(235, 111, 146, .2);
		border-right: 1px solid rgba(235, 111, 146, .2);
		border-left: none;
	}

	.active-title {
		border-top: 6px solid rgba(235, 111, 146, 1);
	}

	.accordion-content {
		padding: 0 16px;
	}

	.accordion-content > .active-content > ul > li {
		text-align: start;
	}

	.content-job {
		font-size: 16px;
		text-align: start;
		padding-bottom: 10px;
	}

	.content-date {
		display: flex;
		align-items: center;
		color: #ebbcba;
		font-size: 15px;
		padding-bottom: 10px;
	}

	.content-date > svg {
		width: 22px;
		margin-right: 10px;
	}

	.content-city {
		display: flex;
		align-items: center;
		font-size: 16px;
	}

	.content-city > svg {
		width: 22px;
		margin-right: 10px;
	}
}

/* For smartphones and tablets. */
@media only screen and (min-width: 401px) and (max-width: 600px) {
	#experiences {
		width: 100%;
		margin-top: 160px;
	}

	.accordion {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
	}

	.accordion-menu {
		display: flex;
		flex-direction: row;
		font-size: 19px;
		color: #ebbcba;
		font-weight: bold;
		margin-bottom: 20px;
	}

	.accordion-title {
		width: 100%;
		height: 100px;
		justify-content: center;
		padding-left: 0;
		border-top: 6px solid rgba(235, 111, 146, .2);
		border-right: 1px solid rgba(235, 111, 146, .2);
		border-left: none;
	}

	.active-title {
		border-top: 6px solid rgba(235, 111, 146, 1);
	}

	.accordion-content {
		padding: 0 25px;
	}

	.accordion-content > .active-content > ul > li {
		text-align: start;
	}

	.content-job {
		font-size: 22px;
		text-align: start;
		padding-bottom: 10px;
	}

	.content-date {
		display: flex;
		align-items: center;
		color: #ebbcba;
		font-size: 18px;
		padding-bottom: 10px;
	}

	.content-date > svg {
		width: 26px;
		margin-right: 10px;
	}

	.content-city {
		display: flex;
		align-items: center;
		font-size: 20px;
	}

	.content-city > svg {
		width: 26px;
		margin-right: 10px;
	}
}
