footer {
	height: 100px;
	margin-top: 60px;
}

.footer-desktop {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-bottom: 60px;
	font-size: 16px;
}

footer > .footer-desktop > span {
	color: #eb6f92;
	padding: 0 8px;
}

.footer-smartphone {
	display: none;
}

/* For small all smartphones and tablets. */
@media only screen and (max-width: 834px) {
	footer {
		height: auto;
		margin: 20px 0 50px 0;
	}

	.footer-desktop {
		display: none;
	}

	.footer-smartphone {
		display: flex;
		justify-content: center;
		gap: 20px;
	}

	.footer-smartphone {
		list-style-type: none;
	}


}
