footer {
	height: 100px;
	margin-top: 60px;
}

.footer-desktop {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-bottom: 60px;
	font-size: 16px;
}

footer > .footer-desktop > span {
	color: #eb6f92;
	padding: 0 8px;
}

.footer-smartphone {
	display: none;
}

@media only screen and (max-width: 400px) {
	.footer-desktop {
		display: none;
	}

	footer {
		height: auto;
		margin-top: 0;
	}

}
