* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	font-family: Hack, 'Open Sans', sans-serif;
	color: #cfc9c2;
	background-color: #24283b;
	font-size: 16px;
}

a {
	text-decoration: none;
}
