*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	font-family: Hack, 'Open Sans', sans-serif;
	color: #ebbcba;
	background-color: #24283b;
	font-size: 16px;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}
