#intro {
	font-size: 18px;
	padding-top: 120px;
}

h1 {
	color: #eb6f92;
	padding-bottom: 20px;
	font-size: 18px;
}

.name {
	color: #ccd6f6;
	font-size: 60px;
	font-family: 'Lobster';
	letter-spacing: 2px;
	padding-bottom: 20px;
}

.things {
	color: #8892b0;
	font-size: 44px;
	letter-spacing: -2px;
	padding-bottom: 60px;
}

.description {
	width: 650px;
	height: 500px;
}

.description > p {
	padding-bottom: 20px;
	text-align: justify;
}

.description > p > span,
.description > p > a {
	color: #eb6f92;
}

/* For small smartphones */
@media only screen and (max-width: 400px) {
	#intro {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 40px 16px 0 16px;
	}

	.name {
		font-size: 34px;
	}

	.things {
		font-size: 26px;
	}

	.description {
		width: 100%;
		height: auto;
	}

	.description > p {
		text-align: start;
	}
}

/* For smartphones and tablets */
@media only screen and (min-width: 401px) and (max-width: 600px) {
	#intro {
		padding: 100px 25px 0 25px;
	}

	.name {
		font-size: 38px;
	}

	.things {
		font-size: 30px;
	}

	.description {
		width: 100%;
		height: auto;
	}

	.description > p {
		padding-bottom: 30px;
		line-height: 24px;
		text-align: start;
	}
}
