#loader {
	height: calc(100vh - 100px);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#square {
	width: 100px;
	height: 100px;
	background-color: #24283b;
}

#top {
	position: relative;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 2px;
	background-color: #ebbcba;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#right {
	position: relative;
	top: calc(50% + 68px);
	left: 50%;
	width: 100px;
	height: 2px;
	background-color: #ebbcba;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

#bottom {
	position: relative;
	top: calc(50% + 66px);
	left: calc(50% - 70px);
	width: 100px;
	height: 2px;
	background-color: #ebbcba;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

#left {
	position: relative;
	top: calc(50% - 6px);
	left: calc(50% - 70px);
	width: 100px;
	height: 2px;
	background-color: #ebbcba;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#top::before,
#right::before,
#bottom::before,
#left::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background-color: #24283b;
	-webkit-animation: animate 5s ease-in-out 1;
	-moz-animation: animate 5s ease-in-out 1;
	animation: animate 5s ease-in-out 1;
}

#top::after {
	content: 'FS';
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: 16px;
	margin-left: 14px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: text 5s linear 1;
	-moz-animation: text 5s linear 1;
	animation: text 5s linear 1;
	font-size: 30px;
	font-weight: bold;
}

#final-square {
	position: relative;
	top: calc(50% - 22px);
	left: calc(50% - 34px);
	width: 100px;
	height: 100px;
	border: 2px solid #eb6f92;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-animation: final 5s linear 1;
	-moz-animation: final 5s linear 1;
	animation: final 5s linear 1;
}

@-webkit-keyframes final {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	} 
}

@-moz-keyframes final {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	} 
}

@-o-keyframes final {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	} 
}

@keyframes final {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	} 
}

@-webkit-keyframes text {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.25;
	}
	50% {
		opacity: 0.5;
	}
	75% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes text {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.25;
	}
	50% {
		opacity: 0.5;
	}
	75% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes text {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.25;
	}
	50% {
		opacity: 0.5;
	}
	75% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}

@keyframes text {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.25;
	}
	50% {
		opacity: 0.5;
	}
	75% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes animate {
	0% {
		left: 0;
	}
	100% {
		left: 100%;
	}
}

@-moz-keyframes animate {
	0% {
		left: 0;
	}
	100% {
		left: 100%;
	}
}

@-o-keyframes animate {
	0% {
		left: 0;
	}
	100% {
		left: 100%;
	}
}

@keyframes animate {
	0% {
		left: 0;
	}
	100% {
		left: 100%;
	}
}
