.menu > ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.menu > ul > li {
	list-style-type: none;
	padding-top: 20px;
}

.menu > ul > li > a {
	color: #eb6f92;
	padding-right: 20px;
	transition: 0.3s;
}

.menu > ul > li > a > span {
	color: #ebbcba;
}

.menu > ul > li > a:hover {
	color: #ebbcba;
	font-size: 18px;
	transition: 0.3s;
}

#resume > a {
	color: #eb6f92;
	font-size: 16px;
	margin: 20px 20px 0px 0px;
	padding: 10px 10px 10px 10px;
	border: 1px solid #eb6f92;
	border-radius: 4px;
	transition: 0.3s;
}

#resume > a:hover {
	background-color: #2d324a;
	transition: 0.3s;
}
