#menu-hamburger {
	display: none;
}

.menu > ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.menu > ul > li {
	list-style-type: none;
	padding-top: 20px;
}

.menu > ul > li > a {
	color: #eb6f92;
	padding-right: 20px;
	transition: 0.3s;
}

.menu > ul > li > a > span {
	color: #ebbcba;
}

.menu > ul > li > a:hover {
	color: #ebbcba;
	font-size: 18px;
	transition: 0.3s;
}

#resume > a {
	color: #eb6f92;
	font-size: 16px;
	margin: 20px 20px 0px 0px;
	padding: 10px 10px 10px 10px;
	border: 1px solid #eb6f92;
	border-radius: 4px;
	transition: 0.3s;
}

#resume > a:hover {
	background-color: #2d324a;
	transition: 0.3s;
}

/* For smarphones and tablets */
@media only screen and (max-width: 810px) {
	#menu-desktop {
		display: none;
	}
	
	#menu-hamburger {
		display: block;
	}

	label .menu-hamburger {
		position: absolute;
		right: -100px;
		top: -100px;
		z-index: 100;
		width: 200px;
		height: 200px;
		background: #eb6f92;
		border-radius: 50% 50% 50% 50%;
		-webkit-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
		cursor: pointer;
	}

	label .hamburger {
		position: absolute;
		top: 135px;
		left: 50px;
		width: 30px;
		height: 2px;
		background: #ebbcba;
		display: block;
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
	}

	label .hamburger:after, label .hamburger:before {
		-webkit-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background: #ebbcba;
	}

	label .hamburger:before { top: -10px; }

	label .hamburger:after { bottom: -10px; }

	label input { display: none; }

	label input:checked + .menu-hamburger {
		box-shadow: 0 0 0 100vw #eb6f92, 0 0 0 100vh #eb6f92;
		border-radius: 0;
	}

	label input:checked + .menu-hamburger .hamburger {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	label input:checked + .menu-hamburger .hamburger:after {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		bottom: 0;
	}

	label input:checked + .menu-hamburger .hamburger:before {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		top: 0;
	}

	label input:checked + .menu-hamburger + ul { opacity: 1; }

	label ul {
		z-index: 200;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		opacity: 0;
		-webkit-transition: .25s 0s ease-in-out;
		transition: .25s 0s ease-in-out;
	}

	label li {
		list-style-type: none;
	}

	label a {
		margin-bottom: 1em;
		display: block;
		color: #24283b;
		text-decoration: none;
	}

	label a:hover {
		font-size: 20px;
		font-weight: bold;
	}
}
