.menu > ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.menu > ul > li {
	list-style-type: none;
	padding-top: 20px;
}

.menu > ul > li > a {
	color: #eb6f92;
	padding-right: 20px;
	transition: 0.3s;
}

.menu > ul > li > a > span {
	color: #ebbcba;
}

.menu > ul > li > a:hover {
	color: #ebbcba;
	font-size: 18px;
	transition: 0.3s;
}
