.section {
	width: 650px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 30px;
	padding-bottom: 50px;
}

.title {
	color: #eb6f92;
}

.about-me-title,
.experience-title {
	width: 76%;
}

.projects-title {
	width: 66%;
}

.contact-title {
	width: 62%;
}

span {
	color: #ebbcba;
}

hr {
	width: 100%;
	flex-shrink: 2;
	color: #ebbcba;
	opacity: 0.2;
}

/* For small smartphones. */
@media only screen and (max-width: 400px) {
	hr {
		display: none;
	}

	.section {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 24px;
		padding-bottom: 40px;
	}

	.about-me-title,
	.experience-title,
	.projects-title,
	.contact-title {
		width: 100%;
	}
}

/* For smartphones and tablets. */
@media only screen and (min-width: 401px) and (max-width: 822px) {
	hr {
		display: none;
	}

	.section {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 28px;
	}

	.about-me-title,
	.experience-title,
	.projects-title,
	.contact-title {
		position: relative;
		width: 100%;
	}

	.about-me-title::before,
	.experience-title::before,
	.projects-title::before,
	.contact-title::before {
		content: '';
		border-top: 1px solid #ebbcba;
		display: block;
		width: 28px;
		position: absolute;
		top: 50%;
		left: 2%;
	}

	.about-me-title::after,
	.experience-title::after,
	.projects-title::after,
	.contact-title::after {
		content: '';
		border-top: 1px solid #ebbcba;
		display: block;
		width: 28px;
		position: absolute;
		top: 50%;
		right: 2%;
	}
}
