.section {
	width: 650px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 30px;
	padding-bottom: 50px;
}

.title {
	color: #eb6f92;
}

.about-me-title,
.experience-title {
	width: 76%;
}

.projects-title {
	width: 66%;
}

span {
	color: #ebbcba;
}

.vertical-line {
	width: 100%;
	flex-shrink: 2;
}

.vertical-line > hr {
	color: #ebbcba;
	opacity: 0.2;
}
